.dashboard {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5, 1fr);
}

.vital-list {
    display: flex;
    justify-content: space-evenly;
}

.vital-item {
    background-color: #2B2B2B;
    color: white;
    padding: 1rem 2rem;
    border-radius: 15px;
}

